@font-face {
    font-family: fontTech;
    src: url(hemi\ head\ bd\ it.otf);
}

body {
    /* background-color: rgb(168, 100, 232); */
    background-image: url("/img/bg1.jpg");
    font-family: fontTech;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

img.img-logo {
    width: 150px;
    height: 150px;
}

a.block {
    background-color: rgba(58, 58, 58, 0.504);
    border-radius: 5px;
    display: block;
    font-size: 1.3em;
}

a.block:hover {
    animation: alternate 0.5s;
    background-color: rgba(188, 188, 188, 0.764);
    color: rgb(108, 53, 164) !important;
}

.noPad {
    padding: 0 !important;
}

.changeBorder:hover {
    border-color: rgb(49, 49, 49) !important;
}

/* .pt-2.pb-2.container.border:hover {
    background-color: rgba(255, 255, 255, 0.764);
} */

.bigFont {
    font-size: 5em;
}

.main{
    padding-bottom: 3em;
}